html, body{
    width: 100%;
    max-width: 100vw;
    height: 100%;
    padding: 0;
    margin: 0;
    
    
}


#container{
    background: url("../IMG/indexx.jpg") center center no-repeat fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    margin: auto;
    
  }

.accordion { 
    width: 80%;
    margin: auto;
    
}

.accordion > .accordion-item {
    background-color:#000;
    color: white;
    font-family: 'Segoe UI';
    font-size: 150%;
    
}

.accordion > .accordion-item > .accordion-header > .accordion-button {
    background-color:#000;
    color: white;
    font-size: 70%;
    
}


.text-1{
    color: white;
    background-color:rgba(10, 10, 10, 0.7);
    width: 75%;
    margin-left: 180px;
    
}

.text-1 > .title {
    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    
    

}



.text-1 > .mesma{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.btn-0{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    
}

.btn-0 button{
    
    border-radius: 20px;
    border: none;
    width: 600px;
    height: 70px;
}

.infancia{
    color: white;
    background-color:rgba(10, 10, 10, 0.7);
    width: 75%;
    margin-left: 180px;

}

.infancia-1{
    margin-left: 200px;

}

.infancia-2{
    margin-left: 255px;

}

.img-1 > .title-2{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    color: white;
    background-color:rgba(10, 10, 10, 0.7);
    width: 75%;
    margin-left: 180px;

}

.img-1 > .img-2{
    margin-left: 490px;
    
    }

.title-3{
    margin-left: -15px;
    
}

.title-3_0{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    color: white;
    background-color:rgba(10, 10, 10, 0.7);
    width: 75%;
    margin-left: 180px;

}

.img-3{
    margin-left: 515px;

}

.title-4_0{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    color: white;
    background-color:rgba(10, 10, 10, 0.7);
    width: 75%;
    margin-left: 180px;

}

.title-4{
    margin-left: -15px;

}

.video-1{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-right: -16px;

}

.img-4 > .title{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    color: white;
    background-color:rgba(10, 10, 10, 0.7);
    width: 75%;
    margin-left: 180px;;

}

.img-4 > img{
    margin-left: 515px;
}

.img-4b{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.title5_0{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    color: white;
    background-color:rgba(10, 10, 10, 0.7);
    width: 75%;
    margin-left: 180px;

}

.title5{
    margin-left: -15px;

}

.title6_0{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    color: white;
    background-color:rgba(10, 10, 10, 0.7);
    width: 75%;
    margin-left: 180px;

}

.title6{
    margin-left: -15px;

}

.img-s{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    color: white;
    background-color:rgba(10, 10, 10, 0.7);
    width: 75%;
    margin-left: 180px;
}

.title-7{
    margin-left: 20px;
    
}

.title-9{
    margin-left: 80px;
    
}

.title10_0{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    color: white;
    background-color:rgba(10, 10, 10, 0.7);
    width: 75%;
    margin-left: 180px;

}

.title10{
    margin-left: -15px;

}

.jogos{
    color: yellow;
    background-color:rgba(10, 10, 10, 0.7);
    width: 75%;
    margin-left: 180px;

}

.j1{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;

}

.j1b{
    margin: auto;
}

.j1c{
    margin: auto;
}

.j2{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin: auto;

}

.j2b{
    margin: auto;
}

.j2c{
    margin: auto;
}

.j3{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;

}

.j3b{
    margin: auto;
}

.j3c{
    margin: auto;
}

.j4{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;

}

.j4b{
    margin: auto;
}

.j4c{
    margin: auto;
}

.j5{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;

}

.j5b{
    margin: auto;
}

.j5c{
    margin: auto;
}


.clientes{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    color: white;
    background-color:rgba(10, 10, 10, 0.7);
    width: 75%;
    margin-left: 180px;

}

.clientesb{
    margin-left: -15px;

}

.img-coment{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.diversao{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    color: white;
    background-color:rgba(10, 10, 10, 0.7);
    width: 75%;
    margin-left: 180px;

}

.diversaob{
    margin-left: -15px;

}